<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>CrossFlex - Ultimate Daily Workout</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">
			<img class="bg-corner" src="images/corner1.jpg">

				<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="/">CrossFlex - Ultimate Daily Workout</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2><img src="images/logo.png" alt="CrossFlex - Ultimate Daily Workout"></h2>

					</header>
					<div class="box">
						<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
				
						<div class="userbox" >


							<div class="workoutbox">
								<h2>Today's Workout</h2>
								<ul> <!--wod-->
                                	<% wod.forEach( obj => { %>
                                    <li data-id='<%=obj._id%>'>
                                    <span id='<%=wod.indexOf(obj)%>' class='wod <%= obj.completed === true ? 'completed' : 'not'%>'> <%= obj.exercise %></span>
                                    </li>
                                	<% }) %>    
                             	</ul>
							

								<ul> 
                            	<% todos.forEach( el => { %>
                                	<li class='todoItem' data-id='<%=el._id%>'>
                               		<span class=' add-on <%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                                	<span class='del'> Delete </span>
                                	</li>
                            		<% }) %>    
                           		</ul>

								   <form action="/todos/createTodo" method='POST'>
									<input type="text" placeholder="Enter Custom Excercise" name='todoItem'>
									<input class="submit" type="submit">
								</form>
							</div>

							<div class="scorebox">
								<h2><%= user.userName %>'s Score</h2>
								<h3>Daily Score: <%= dailyScore %></h3>
								<h3>Total Score: <%= totalScore %></h3>
								<h3><%= user.userName %> has <%= left %> exercise(s) left to do.</h3>
						    </div>
					
						
							
						
							


						</div>
					</div>
				</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; CrossFlex - Ultimate Daily Workout. All rights reserved.</li>
				</ul>
			</footer>

	</div>

	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
        <script src="js/main.js"></script>

</body>
</html>